html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.formulario {
    margin: 0;
    padding: 0;
}

    .formulario label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .formulario input[type="text"],
    .formulario input[type="password"] {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        background-color: #f2f2f2;
    }

        .formulario input[type="text"]:focus,
        .formulario input[type="password"]:focus {
            outline: none;
            box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
        }

    .formulario button[type="submit"] {
        display: inline-block;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        background-color: #258cfb;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

        .formulario button[type="submit"]:hover {
            background-color: #0c66a6;
        }


/*  Estilos para tablas*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
