
@model LoginViewModel

<h1>@ViewData["Title"]</h1>

<!-- Formulario -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Formulario</h1>
                <div class="fs-5 mb-3">
                    <span>Validación a nivel de modelos</span>
                </div>
            </div>

            <!--formulario-->
            <div class="col-md-6">
                <form asp-action="Crear" class="formulario">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        
                        <label asp-for="Nombre" class="form-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        
                        <label asp-for="Contrasena"></label>
                        <input asp-for="Contrasena" type="password" />
                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>
                    <button class="btn btn-outline-dark flex-shrink-0">
                        Validar
                    </button>
                    <a class="btn btn-secondary" asp-action="Mostrar">Cancelar</a>
                </form>

            </div>
        </div>
    </div>
</section>