
@model IEnumerable<LoginViewModel>
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<a asp-action="Crear" class="btn btn-outline-dark flex-shrink-0">Crear nuevo Usuario</a>
<br />
<hr />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var login in Model)
        {
            <tr>
                <td>
                    @login.Id
                </td>
                <td>
                    @login.Nombre
                </td>
                <td>
                    @login.Contrasena
                </td>
            </tr>
        }
    </tbody>
</table>